*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
  font-family: 'Roboto';
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
body::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(3.jpeg) center/cover no-repeat;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
}
.name {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
.navbar ul{

    display: flex;
    list-style: none;
    justify-content: center;
    border-top: 1px solid rgb(35, 35, 35);
    border-bottom: 1px solid rgb(35, 35, 35);
    padding: 1em;
    background-color: rgba(68, 59, 59, 0.5);
}
.navbar ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px;
    padding: 10px;
    opacity: 100%;

}
.navbar ul li a:hover{
  color: #fff;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding-left: 1em;
    padding-right: 2px;
    flex-direction: column;
}
.home-text{
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    font-size: 2em;
}


.images div {
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
}

.images {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1em;
}

.images img {
  width: 12em;
  height: 10em;
  object-fit: cover;
  display: block;
  border-radius: 5%;
  transition: transform 0.5s ease-in-out;
}

.images img:hover {
  transform: scale(1.2);
}
.button{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 0.3px solid white;  
    background-color: transparent; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  .button a{
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
  .button:hover {
    background-color: #4c434c;
    opacity: 50%;
    
  }
  .button:hover a{
    color: #fff;
  }
  .footer{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #4c434c;
    align-items: center;
    color: #ffffff;
  }
  .home-headings{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.2em;
  }
 .about-text{
  font-size: 1.3em;
  padding: 0.5em;
  font-weight: 800;
 }
 .about-text span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
 }
 table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #8b8b8b; 
  margin-top: 3em;
  
}

th, td {
  border: 1px solid #ddd; 
  text-align: left;
  padding: 2em;
}

th {
  background-color: #8b8b8b; 
}

input, textarea {
  width: 600px;
  padding: 8px;
  margin: 0.7em;
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1em;
  color: #fff;
  background-color: #8b8b8b;
 
}